a:any-link {
	/* color: forestgreen; */
	text-decoration-color: red;
  }

/* .mantine-Carousel-container{
	margin-left: 2em;

	@media (max-width: $mantine-breakpoint-xs) {
		margin-left: 16% ;
	  }
} */

.hoverTransform {
	transition: transform 0.3s, box-shadow 0.3s;  
  }
  
.hoverTransform:hover {
transform: scale(1.05);
}

.pulse {
animation: pulse 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;  
}

@keyframes pulse {
0%, 100% {
	transform: scale(1);
}

50% {
	transform: scale(1.05);
}
}